html, body {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.formBase{
    width: 100%;
    height: 100%;
}

.formHeader {
    font-size: 20mm;
    color: #290682;
    height: 30mm;
    display: block;
    align-items: center;
    text-align: center;
}

.formHeader2 {
    font-size: 14mm;
    color: #290682;
    height: 20mm;
    display: block;
    align-items: left;
    text-align: left;
    background-color: gray;
}

.formParamCaption {
    width: 100%;
    text-align: left;
    font-size: 8mm;
    padding-left: 5mm;
    background-color: white;
}

.formParamValue{
    width: 100%;
    padding-left: 30mm;
    background-color: lightgrey;
    font-size: 10mm;
}

.formParamValueProfileContainer {
    width: 100%;
    background-color: lightgrey;
    font-size: 10mm;
    display: contents;
}

.formParamValueSlider{
    /*width: 100%;*/
    background-color: lightgrey;
    font-size: 30mm;
    margin-top: 30mm;
    padding-left: 10mm;
    padding-right: 10mm;
}

.formStringParamProfile{
    width: 100%;
    font-size: 17mm;
}

.shutdown-timer-input-container {
    width: 100%;
    background-color: lightgrey;
    font-size: 10mm;
    display: contents;
    /*margin-left: 30mm;*/
}

.shutdown-timer-input-selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;

    background-size: auto;
    background-image: url(../img/indexImages.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 200px) -259px;
}

.shutdown-timer-input{
    font-size: 15mm;

    height: 20mm;
    width: 50mm;

    margin-left: 5mm;
    margin-right: 5mm;
    padding-right: 5mm;
    padding-left: 5mm;
}

.shutdown-timer-input-separator {
    width: 100%;
    background-color: lightgrey;
    font-size: 17mm;
    display: contents;
}


.first-left-margin{
    margin-left: 5mm;
}

.index-profile-header{
    font-size: 22mm;
    color: #5467f9;
    height: 34mm;
    display: block;
    text-align: left;
}

.index-profile-input{
    background-color: white;
    /*width: 100%;*/
    font-size: 15mm;
    height: 20mm;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;       !* Remove default arrow *!*/
    background-size: auto;
    background-image: url(../img/indexImages.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 200px) -259px;

    margin-left: 5mm;
    margin-right: 5mm;
    padding-right: 5mm;
    padding-left: 5mm;
}

.formParamValue input{
    background-color: lightgrey;
    border: 1px black;
}

.formStringParamValue{
    width: 120mm;
    font-size: 9mm;

}


.form-flex-vertical-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flex-horizontal-container{
    display: flex;
    flex-direction: row;
}

.form-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15mm;
    margin-bottom: 20mm;
    /*background-color: #000066;*/
}

.form-inputField-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5mm;
}

/*.form-flex-horizontal-container{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 100%;*/
    /*padding-bottom: 5mm;*/
/*}*/

.matrix-part{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5mm;
    padding-top: 5mm;
}

.matrix-part div{
    width: 60mm;
    font-size: 9mm;
}

.matrix-quad{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5mm;
}

.matrix-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1mm;
}

.matrix-row input{
    width: 20mm;
    border: 1px solid black;
    margin-right: 1mm;
    font-size: 9mm;
}

.toolButton{
    float: left;
    margin-right: 10mm;
    font-size: 12mm;
}

.buttonIcon:hover {
    opacity: 1;
}

.buttonIcon-disabled {
    opacity: 0.2;
}

.buttonIcon-disabled:hover {
    opacity: 0.2;
}

.toolbar2{
    margin-top: 10mm;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.toolButton2-main{
    margin-left: 5mm;
    margin-bottom: 10mm;
    display: flex;
    flex-direction: column;
    padding-top: 10mm;
    width: 70mm;
    height: 65mm;
    border: solid darkgrey 1px;
    background-image: linear-gradient(#e6e6e6, #bebebe);

}

.index-toolButton-icon{
    background-image: url(../img/indexImages.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-toolButton-icon{
    background-image: url(../img/profileImages.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.smallToolButton-icon{
    height: 128px;
    width: 128px;
    margin-left: 15mm;
    background-size: auto;
}

.bigToolButton-icon{
    height: 40mm;
    margin-left: 15mm;
}

.bigToolButton-caption{
    width: 100%;
    height: 25mm;
    font-size: 10mm;
    padding-left: 5mm;
}

.icon-apply{
    background-position: -131px 0px;
    width: 33mm;
    transform: scale(1.4);
}

.icon-back{
    width: 32mm;
    background-position: 0px 0px;
}

.icon-new-profile{
    width: 22mm;
    background-position: -249px 0px;
    transform: scale(1.4);
}

.icon-remove-profile{
    width: 27mm;
    background-position: -330px 0px;
    transform: scale(1.4);
}

.icon-WiFi-settings{
    background-position: -4px -147px;
}

.icon-profile-settings{
    background-position: -4px -7px;
}

.icon-save-defaults{
    background-position: -166px -3px;
}

.icon-help{
    background-position: -154px -133px;
}





.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 70mm;
    border-radius: 5mm;
    /*background: none;*/
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: url("../img/dayAndNight2.jpg") no-repeat 0px 0px;// revert;
    /*-webkit-transform: scaleX(-1);*/
    /*transform: scaleX(-1);*/
    background-size: cover;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35mm;
    height: 48mm;
    background-image: url(../img/indexImages.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -220px 0px;
    transform: scale(1.4);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25mm;
    height: 25mm;
    border-radius: 50%;
    background: #0021af;
    cursor: pointer;
}